@use "../utilities/variables" as var;

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-family-logo);
  font-size: var(--font-size-large);
  color: var(--dark-color);

  @media (width <= var.$medium-screen) {
    & {
      font-size: var(--font-size-medium);
    }
  }

  @media (width <= var.$small-screen) {
    & h1 {
      display: none;
    }
    & img {
      scale: 1.4;
      margin: 2rem 0;
    }
  }
}
