.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: var(--font-family-logo);
  font-size: 2rem;
  font-weight: 300;
  padding-top: 1rem;
  color: var(--penn-blue);

  img {
    filter: brightness(0) saturate(100%) invert(79%) sepia(4%) saturate(7004%) hue-rotate(169deg) brightness(91%) contrast(90%);
  }
}
