// Breakpoints
$small-screen: 40rem;
$medium-screen: 60rem;
$large-screen: 120rem;

:root {
  // Colors
  --primary-color: hsl(194, 82%, 46%);
  --secondary-color: hsl(226, 77%, 61%);
  --accent-color: hsl(266, 96%, 61%, 1);
  --light-color: hsl(0, 0%, 98%);
  --dark-color: hsl(210, 10%, 20%);
  --gradient-colors: var(--accent-color), var(--primary-color);

  // Typography
  --font-family: "Roboto", sans-serif;
  --font-family-logo: "Goldman", cursive;
  --font-line-height-base: 1.75;
  --font-weight-base: 400;

  // Font Sizes: Golden Ratio
  --font-size-extra-small: 1.6rem;
  --font-size-small: 2.262rem;
  --font-size-medium: 3.199rem;
  --font-size-large: 4.523rem;

  // Spacing
  --spacing-extra-small: 0.512rem;
  --spacing-small: 0.8rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-extra-large: 2.441rem;

  // Border radius
  --border-radius-small: 0.4rem;
  --border-radius-medium: 0.8rem;
  --border-radius-large: 1.953rem;

  // Z-index
  --z-index-back: 1000;
  --z-index-base: 2000;
  --z-index-front: 3000;

  // Other variables
  // N/A
}
