:root {
  // Colors
  --primary-color: hsla(224, 98%, 19%, 1);
  --secondary-color: hsla(198, 63%, 65%, 1);
  --accent-color: hsl(266, 96%, 61%, 1);
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  // Typography
  --font-family: "Roboto", sans-serif;
  --font-family-logo: "Goldman", cursive;
  --font-line-height-base: 1.75;
  --font-weight-base: 400;

  // Spacing
  --spacing-extra-small: 0.512rem;
  --spacing-small: 0.8rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-extra-large: 2.441rem;

  // Breakpoints
  // N/A

  // Border radius
  --border-radius-small: 0.4rem;
  --border-radius-medium: 0.8rem;
  --border-radius-large: 1.953rem;

  // Z-index
  --z-index-back: 1000;
  --z-index-base: 2000;
  --z-index-front: 3000;

  // Other variables
  // N/A
}
