.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100dvh;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    width: 200%;
    height: 100%;
    border-radius: 6rem;
    border-top: rgba(0, 0, 0, 0.06) solid 2rem;
    border-bottom: rgba(0, 0, 0, 0.06) solid 2rem;
    border-left: rgba(0, 0, 0, 0.06) solid 2rem;
    outline: 200rem solid rgba(0, 0, 0, 0.06);
  }
}
