.poster {
  flex: 1;
  background-color: var(--secondary-color);
  background-image: url(../img/side-wallpaper-optx.avif), url(../img/side-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}
