.poster {
  flex: 1;
  position: relative;
  overflow: hidden;
  opacity: 0.9; /* Just for style */

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    background-image: url(../img/side-wallpaper-optx.avif), url(../img/side-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    animation: animatedBackground 20s infinite;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, var(--gradient-colors));
    mix-blend-mode: color;
    opacity: 0.8;
    z-index: var(--z-index-front);
  }

  @media (width <= 1200px) {
    & {
      display: none;
    }
  }
}
