.signup-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size-extra-small);
  width: 100%;

  &__list {
    display: flex;
    gap: 5rem;
    opacity: 0.75;
    font-weight: 300;
    padding: var(--spacing-extra-large) 0;
  }
}
