@use "../utilities/variables" as var;

.signup-form {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: var(--spacing-extra-large);
  font-family: var(--font-family);
  font-weight: 300;

  &__actions {
    display: flex;
    gap: var(--spacing-large);

    @media (width <= var.$small-screen) {
      justify-content: center;
    }
  }

  &__tos {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
    font-size: var(--font-size-extra-small);
    text-wrap: balance;

    @media (width <= var.$medium-screen) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__login {
    text-align: center;
    font-size: var(--font-size-small);
    font-weight: 300;

    @media (width <= var.$small-screen) {
      font-size: var(--font-size-extra-small);
    }
  }
}
