:root {
  --primary-color: hsl(194, 82%, 46%);
  --secondary-color: hsl(226, 77%, 61%);
  --accent-color: hsl(266, 96%, 61%, 1);
  --light-color: hsl(0, 0%, 98%);
  --dark-color: hsl(210, 10%, 20%);
  --gradient-colors: var(--accent-color), var(--primary-color);
  --font-family: "Roboto", sans-serif;
  --font-family-logo: "Goldman", cursive;
  --font-line-height-base: 1.75;
  --font-weight-base: 400;
  --font-size-extra-small: 1.2rem;
  --font-size-small: 1.618rem;
  --font-size-medium: 2.618rem;
  --font-size-large: 4.236rem;
  --spacing-extra-small: 0.512rem;
  --spacing-small: 0.8rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-extra-large: 2.441rem;
  --border-radius-small: 0.4rem;
  --border-radius-medium: 0.8rem;
  --border-radius-large: 1.953rem;
  --z-index-back: 1000;
  --z-index-base: 2000;
  --z-index-front: 3000;
}

@keyframes rotateBorder {
  0% {
    border-image-source: linear-gradient(to right, var(--primary-color), var(--accent-color));
  }
  25% {
    border-image-source: linear-gradient(to bottom, var(--primary-color), var(--accent-color));
  }
  50% {
    border-image-source: linear-gradient(to left, var(--primary-color), var(--accent-color));
  }
  75% {
    border-image-source: linear-gradient(to top, var(--primary-color), var(--accent-color));
  }
  100% {
    border-image-source: linear-gradient(to right, var(--primary-color), var(--accent-color));
  }
}
@keyframes animatedBackground {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(12px) scale(1.1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
.flex {
  display: flex;
}
.flex--column {
  display: flex;
  flex-direction: column;
}

.gap--extra-small {
  gap: var(--spacing-extra-small);
}
.gap--small {
  gap: var(--spacing-small);
}
.gap--medium {
  gap: var(--spacing-medium);
}
.gap--large {
  gap: var(--spacing-large);
}
.gap--extra-large {
  gap: var(--spacing-extra-large);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
}

ol,
ul {
  list-style: none;
}

h2 {
  font-weight: 700;
  font-size: var(--font-size-medium);
}

.text--important {
  font-weight: 700;
}
.text--light {
  opacity: 0.6;
}
.text--lightest {
  opacity: 0.4;
}
.text--link {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}
.text--link:hover {
  color: var(--accent-color);
}
.text--small {
  font-size: var(--font-size-small);
}
.text--x-small {
  font-size: var(--font-size-extra-small);
}
.text--center {
  text-align: center;
}

.container {
  display: flex;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  background-color: var(--light-color);
}

.poster {
  flex: 1;
  position: relative;
  overflow: hidden;
  opacity: 0.9; /* Just for style */
}
.poster::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  background-image: url(../img/side-wallpaper-optx.avif), url(../img/side-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  animation: animatedBackground 20s infinite;
}
.poster::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, var(--gradient-colors));
  mix-blend-mode: color;
  opacity: 0.8;
  z-index: var(--z-index-front);
}
@media (width <= 1200px) {
  .poster {
    display: none;
  }
}

.signup-module {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3rem 3rem;
  text-wrap: balance;
}

.signup-form {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: var(--spacing-extra-large);
  font-family: var(--font-family);
  font-weight: 300;
}
.signup-form__actions {
  display: flex;
  gap: var(--spacing-large);
}
@media (width <= 400px) {
  .signup-form__actions {
    justify-content: center;
  }
}
.signup-form__tos {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  font-size: var(--font-size-extra-small);
  text-wrap: balance;
}
@media (width <= 620px) {
  .signup-form__tos {
    flex-direction: column;
    text-align: center;
  }
}
.signup-form__login {
  text-align: center;
  font-size: var(--font-size-small);
  font-weight: 300;
}
@media (width <= 400px) {
  .signup-form__login {
    font-size: var(--font-size-extra-small);
  }
}

.signup-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size-extra-small);
}
.signup-footer__list {
  display: flex;
  gap: 4rem;
  opacity: 0.75;
  font-weight: 300;
}

.btn {
  align-self: flex-start;
  padding: 1rem 1.8rem;
  font-weight: 500;
  color: var(--light-color);
  cursor: pointer;
  border: 0;
  border-radius: 0.4rem;
  font-family: var(--font-family);
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}
.btn--primary {
  background-color: var(--primary-color);
}
.btn--primary:hover {
  background-color: var(--secondary-color);
}
.btn--reset {
  background-color: var(--accent-color);
}
.btn--reset:hover {
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  color: var(--dark-color);
}

.fieldset {
  display: flex;
  row-gap: var(--spacing-extra-large);
  column-gap: var(--spacing-large);
}
.fieldset--column {
  flex-direction: column;
}
@media (width <= 620px) {
  .fieldset {
    flex-direction: column;
  }
}

.field {
  display: flex;
  flex-flow: column;
  font-weight: 300;
  font-family: var(--font-family);
  font-size: var(--font-size-extra-small);
  color: var(--dark-color);
  gap: var(--spacing-small);
}
.field input {
  padding: 0.85rem 0.65rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.04);
}
.field input::placeholder {
  opacity: 0.4;
}
.field input:active, .field input:focus {
  outline: none;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, var(--primary-color), var(--accent-color));
  animation: rotateBorder 2s linear infinite;
}

.divider {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  opacity: 0.1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-family-logo);
  font-size: var(--font-size-large);
  color: var(--dark-color);
}
@media (width <= 620px) {
  .logo {
    font-size: var(--font-size-medium);
  }
}
@media (width <= 620px) {
  .logo {
    font-size: var(--font-size-small);
  }
  .logo img {
    scale: 0.8;
  }
}
@media (width <= 620px) {
  .logo h1 {
    display: none;
  }
  .logo img {
    scale: 1.1;
    margin-bottom: 2rem;
  }
}
